<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>UI/UX CHALLENGE</title>
    	<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/templatemo_style.css">
        <link rel="stylesheet" href="static/design.css">

        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
       

        <div class="second-tabs-content what-we-do">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner">
                            <h4>Popular solutions</h4>
                            <p>   </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapper">
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#unique" class="active">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>Texto 1</h4>
                                                <p>  Bla bla bla  </p>
                                                <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#theme">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>Texto2 </h4>
                                                <p>   Bla bla bla
                                                     </p>
                                                <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#translation">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>Texto 3</h4>
                                                <p> Bla bla bla   </p>
                                                <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#event">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>Texto 4</h4>
                                                <p> Bla bla bla   </p>
                                                <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#photo">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>Texto 5</h4>
                                                <p>  Bla bla bla  </p>
                                                <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    
                                    <div class="row">
                                        <div class="wrapper">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#unique" class="active">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>Texto 1</h4>
                                                                    <p>  Bla bla bla  </p>
                                                                    <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#theme">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>Texto2 </h4>
                                                                    <p>   Bla bla bla
                                                                         </p>
                                                                    <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#translation">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>Texto 3</h4>
                                                                    <p> Bla bla bla   </p>
                                                                    <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#event">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>Texto 4</h4>
                                                                    <p> Bla bla bla   </p>
                                                                    <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#photo">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>Texto 5</h4>
                                                                    <p>  Bla bla bla  </p>
                                                                    <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            </div>
                                                        <div class="row">
                                                            <div class="wrapper">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#unique" class="active">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>Texto 1</h4>
                                                                                        <p>  Bla bla bla  </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#theme">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>Texto2 </h4>
                                                                                        <p>   Bla bla bla
                                                                                             </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#translation">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>Texto 3</h4>
                                                                                        <p> Bla bla bla   </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#event">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>Texto 4</h4>
                                                                                        <p> Bla bla bla   </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#photo">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>Texto 5</h4>
                                                                                        <p>  Bla bla bla  </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Discover More</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                </div>
        

       
    </body>
</html>