<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>UI/UX CHALLENGE</title>
    	<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/templatemo_style.css">
        <link rel="stylesheet" href="static/design.css">

        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
       

        <div class="second-tabs-content what-we-do">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner">
                            <h4>Popular solutions</h4>
                            <p>   </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapper">
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#unique" class="active">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <img>
                                                <h4>{{data.results.0.title}}</h4>
                                                <p> Release date: {{data.results.0.release_date}}</p>
                                                <p>Popularity: {{data.results.0.popularity}} </p>
                                                <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                <!--<a onclick="vote('{{id}}', 1)" class="card-link upvote">⬆️</a>
                                                <span id="votes{{id}}"></span>
                                                <a onclick="vote('{{id}}', -1)" class="card-link downvote">⬇️</a>-->
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#theme">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>{{data.results.1.title}}</h4>
                                                <p>  Release date: {{data.results.1.release_date}}</p>
                                                <p>Popularity: {{data.results.1.popularity}} </p>
                                                <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#translation">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>{{data.results.2.title}}</h4>
                                                <p> Release date: {{data.results.2.release_date}} </p>
                                                <p>Popularity: {{data.results.2.popularity}} </p>
                                                <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#event">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>{{data.results.3.title}}</h4>
                                                <p>Release date: {{data.results.3.release_date}}</p>
                                                <p>Popularity: {{data.results.3.popularity}} </p>
                                                <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="col-md-15 col-sm-12 col-xs-12">
                                        <a href="#photo">
                                            <div class="list-item">
                                                <div class="icon">
                                                </div>
                                                <h4>{{data.results.4.title}}</h4>
                                                <p> Release date: {{data.results.4.release_date}} </p>
                                                <p>Popularity: {{data.results.4.popularity}} </p>
                                                <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    
                                    <div class="row">
                                        <div class="wrapper">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#unique" class="active">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>{{data.results.5.title}}</h4>
                                                                    <p> Release date: {{data.results.5.release_date}} </p>
                                                                    <p>Popularity: {{data.results.5.popularity}} </p>
                                                                    <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#theme">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>{{data.results.6.title}} </h4>
                                                                    <p>  Release date: {{data.results.6.release_date}}
                                                                         </p>
                                                                         <p>Popularity: {{data.results.6.popularity}} </p>
                                                                    <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#translation">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>{{data.results.7.title}} </h4>
                                                                    <p>  Release date: {{data.results.7.release_date}}</p>
                                                                     <p>Popularity: {{data.results.7.popularity}} </p>
                                                                    <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#event">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>{{data.results.8.title}}</h4>
                                                                    <p> Release date: {{data.results.8.release_date}} </p>
                                                                    <p>Popularity: {{data.results.8.popularity}} </p>
                                                                    <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="col-md-15 col-sm-12 col-xs-12">
                                                            <a href="#photo">
                                                                <div class="list-item">
                                                                    <div class="icon">
                                                                    </div>
                                                                    <h4>{{data.results.9.title}}</h4>
                                                                    <p> Release date: {{data.results.9.release_date}}  </p>
                                                                    <p>Popularity: {{data.results.9.popularity}} </p>
                                                                    <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            </div>
                                                        <div class="row">
                                                            <div class="wrapper">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#unique" class="active">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>{{data.results.10.title}}</h4>
                                                                                        <p> Release date: {{data.results.10.release_date}} </p>
                                                                                        <p>Popularity: {{data.results.10.popularity}} </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#theme">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>{{data.results.11.title}}</h4>
                                                                                        <p>  Release date: {{data.results.11.release_date}} 
                                                                                             </p>
                                                                                             <p>Popularity: {{data.results.11.popularity}} </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#translation">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>{{data.results.12.title}}</h4>
                                                                                        <p> Release date: {{data.results.12.release_date}}  </p>
                                                                                        <p>Popularity: {{data.results.12.popularity}} </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#event">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>{{data.results.13.title}}</h4>
                                                                                        <p> Release date: {{data.results.13.release_date}} </p>
                                                                                        <p>Popularity: {{data.results.13.popularity}} </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="col-md-15 col-sm-12 col-xs-12">
                                                                                <a href="#photo">
                                                                                    <div class="list-item">
                                                                                        <div class="icon">
                                                                                        </div>
                                                                                        <h4>{{data.results.14.title}}</h4>
                                                                                        <p> Release date: {{data.results.14.release_date}} </p>
                                                                                        <p>Popularity: {{data.results.14.popularity}} </p>
                                                                                        <div class="primary-button"><a href="#portfolio">Rate</a></div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                </div>
        

       
    </body>
</html>